{% extends 'base.html.twig' %}

{% block title %}Mon planning{% endblock %}

{% block body %}
    <div class="bg-white text-secondary pt-2">
        <div class="container mt-3 mb-3">
            <h2 >Mon planning</h2>
        </div>
        <div>
            <img  class="img-fluid" src="/pictures/fond.jpg" alt="">
        </div>
        <div class="container text-secondary dives">
            {% for reservation in reservations %}
                    <div class=" planning container bg-white dive text-secondary border border-secondary mb-3 mt-3 pr-5">
                        <div class=" row font-weight-bold justify-content-between" style="font-size:1.2em;">
                            <div class="col-4  mt-3 ">
                                <p>Le: {{ reservation.date|date('d/m/Y') }}</p>
                                <p>A:  {{ reservation.location }}</p>
                            </div>
                            <div class="col_lg-8 mt-2  mb-2">
                                <a class="btn btn-info btn active " href={{ path('reservation_div_members', {'id': reservation.idD}) }}>Liste des participants</a>
                                {% if date(reservation.date) >= date() %}
                                <a class="btn btn-danger " onclick="return confirm(`Etes vous sur de vouloir supprimer cette reservation ?`) "href="{{path('reservation_delete', {'id': reservation.id}) }}"><img style="width:25px; height:25px;" src="/pictures/bin.png"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}