{% extends 'base.html.twig' %}

{% block title %}Modification d'une plongée{% endblock %}

{% block body %}

    <div class="container text-secondary mt-3">
        <h2>Mofification d'une plongée</h2>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}