{% extends 'base.html.twig' %}

{% block title %}Modification d'une plongée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mofification d'une plongée</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Valider les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}