{% extends 'base.html.twig' %}

{% block title %}Liste des plongées du Club de la Mer{% endblock %}

{% block body %}
    <div class="container">
        <p>Il y a actuellement xxx plongées programmées</p>
    </div>

    <div class="container bg-white" >
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Lieu</td>
                <td>Description</td>
                <td>Niveau Minimum</td>
                <td>Nombre de places </td>
                <td>Date</td>

            </tr>
            </thead>

            {% for diving in diving %}
                <tbody>
                <tr>
                    <td>{{ diving.location }}</td>
                    <td>{{ diving.description }}</td>
                    <td>{{ diving.levelMin }}</td>
                    <td>{{ diving.places }}</td>
                    <td>Modifier</td>
                    <td>Supprimer</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>



{% endblock %}
