{% extends 'base.html.twig'%}

{% block title %}Création d'une plongée{% endblock %}

{% block body %}

    <div class="container text-secondary mt-3">
        <h2>Créer une nouvelle plongée</h2>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la plongée</button>
        {{ form_end(form) }}
    </div>
{% endblock %}