


{% block body %}
<div class="container bandeau">
    <div class="row">

        <div>
            Votre inscription au Club de la Mer est validée !!
        </div>
        <div>
            Votre pseudo pour la connexion est:  {{ member.pseudo }}
        </div>
        <div>
            Votre mot de passe est : password
        </div>
        <div>
            Vous devez le modifier dès votre 1er connexion !!!
        </div>

    </div>
</div>
{% endblock %}