{% extends 'base.html.twig' %}

{% block title %}J'ai une question{% endblock %}

{% block body %}

<div class="container mb-5 mt-3 text-secondary">
    <h2>Faites votre demande !</h2>
</div>
<div class="container-fluid vh-100 text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-7 mx-auto">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Envoyer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% endblock %}
