{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid vh-100 d-flex flex-column md-5" >
            <div class="mx-auto md-5 logo" >
                <img src="/pictures/logoHome.jpg">
            </div>

            <div class="mx-auto md-5 vh-100">
                <h1>Réservation de plongées</h1>
            </div>
             <div class="mx-auto md-5 vh-100 ">
                <h1>Club de la Mer</h1>
            </div>

            <div class="mx-auto d-flex align-items-end" >
                <a href=""><img style="width:75px; height:75px;" src="/pictures/pictoDiving.png"></a>
            </div>
    </div>

{% endblock %}

