{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid vh-100 d-flex flex-column md-5 dive" >
            <div class="mx-auto md-5 logo" >
                <img src="/pictures/divingHome.jpg">
            </div>

            <div class="mx-auto md-5">
                <h1>Réservation de plongées</h1>
            </div>
             <div class="mx-auto md-5 ">
                <h1>Club de la Mer</h1>
            </div>

                <div class="mx-auto d-flex align-items-end mt-4" >
                   <img style="width:50px; height:50px;" src="/pictures/arrow.gif"></a>
                </div>

            <div class="mx-auto d-flex align-items-end mb-4 mt-4" >
                <a href="{{ path('account_login')}}"><img style="width:75px; height:75px;" src="/pictures/pictoDiving.gif"></a>
            </div>


    </div>

{% endblock %}
